h1 {
  color: grey;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
ol {
  line-height: 40px;
}
body {
  background-color: pink;
}
.test-box {
  border-left: 2px solid red;
  border-right: 2px solid red;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding: 6px;
}
